html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(245,245,245);
}
.container{
  margin: 80 auto 0 auto;
  /*max-width: 1000px;*/
}
.nav-container{
  margin: auto;
  
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'century gothic';
  src: url(./fonts/GOTHIC.TTF) format('truetype');
}


/*holix*/


#homePublicaciones{
  /*margin: 0 auto;*/
  width: 550px;
  position: absolute;
  bottom: 20px;
  top: 100px;
  overflow: auto
}

#homePerfil{
  /*margin: 0 au  to;*/
  width: auto;
  position: absolute;
  bottom: 20px;
  /*top: 60px;*/
  overflow: auto
}

#homeEventos{
  width: 420px;
  position: absolute;
  bottom: 20px;
  top: 100px;
  overflow: auto
}

#paneles{
  width: 1000px;
  position: absolute;
  bottom: 20px;
  top: 130px;
  overflow: auto
}